footer {
  height: 100px;
  margin-top: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
  }
}
